$color-primary: #009688;
$color-primary-light: rgba(0, 150, 136, 0.55);
$color-primary-dark: #07776d;

$color-secondary: #F85959;

$color-tertiary: rgba(47, 51, 51, 0.75);

$color-white: #fff;
$color-black: #000;